extends ../layout.pug

block head
	title 利用規約

block content
	h1.board-title 利用規約
	.table-container.flex-center.mv-10
		table
			tr
				th 利用規約
			tr
				td.post-message

					ol
						li 現地の法律に違反するものをアップロード、投稿、話し合い、要求、またはリンクすることはできません。
						li 学校や大学向けの掲示板の作成は許可されていますが、いじめ、中傷、名誉毀損、ストーカー行為は一切許可されていません。 誰かがこの行為を犯していることが判明した場合、あなたはすぐにサイトにアクセスできなくなります。 
							p モデレーターがこの行為を支持していることが発見された場合、彼または彼女は直ちに職務から解放され、サイトからも禁止されます。
						li 本物の子供の性的虐待を描いた画像やその他の種類のメディアは明示的に禁止されており、法執行機関に報告されます。 その他の境界線のコンテンツは禁止されています。 このコンテンツは次のように定義されています。
							p 元の文脈、合法性、または公の場での表示に関係なく、性的、性的に示唆的、またはその他の方法で覚醒を誘発することを目的としたあらゆる種類の文脈で投稿された、実際の子供の描写。
							p 上記のように性化された実際の子供に基づくリアルなアートまたは画像。
						li 板の所有権とユーザーアカウントは、サイト管理者の裁量で付与および維持されます。 板、そのルール、またはそのユーザーの深刻な乱用、怠慢、または誤った取り扱いは、その損失または再割り当てにつながる可能性があります。
						li ユーザーは、サードパーティのツールやスクリプトの使用を含め、サイトまたはその機能に損害を与えるいかなる活動も禁じられています。 これには、スパム、フラッディング、フィッシング、サイコプス、ハッキング、サービス拒否やその他の攻撃、ボットプログラムやその他の無許可のソフトウェアが含まれますが、これらに限定されません。
						li わいせつではないとマークされた板の場合、ほとんどの場合、16歳以上である必要があります。 閲覧注意とマークされた板の場合、18歳以上である必要があります。
					p 利用規約によってグローバルスタッフに委任されていない、または取締役会の所有者に禁止されていない権限は、それぞれ取締役会の所有者またはユーザーに留保されます。
	.table-container.flex-center.mv-10
		table
			tr
				th 板管理
			tr
				td.post-message

					ol
						li ユーザーが作成した板はユーザーの責任であり、サイトの通常の機能に従ってそれらを管理するのはユーザーの責任です。
						li 管理者が1か月以上アカウントにアクセスしない場合、板は放棄されたと見なされ、グローバルスタッフに転送されたり、別のユーザーに提供されたり、リストから非表示になったり、警告なしに削除されたりする場合があります。

