if bans.length === 0
	p 禁止はありません。
else
	input(type='hidden' name='_csrf' value=csrf)
	include ../includes/bantable.pug
		for ban in bans 
			+ban(ban)
	.action-wrapper.mv-10
		.row
			.label 禁止を解除する
			label.postform-style.ph-5
				input(type='radio' name='option' value='unban' checked='checked')
		.row
			.label 控訴を拒否する 
			label.postform-style.ph-5
				input(type='radio' name='option' value='deny_appeal')
	input(type='submit' value='送信')

