mixin globalmanagenav(selected)
	nav.pages
		a(href='reports.html' class=(selected === 'reports' ? 'bold' : '')) [レポート]
		|  
		a(href='bans.html' class=(selected === 'bans' ? 'bold' : '')) [禁止]
		|  
		a(href='recent.html' class=(selected === 'recent' ? 'bold' : '')) [最近]
		|  
		a(href='boards.html' class=(selected === 'boards' ? 'bold' : '')) [板]
		|  
		a(href='globallogs.html' class=(selected === 'logs' ? 'bold' : '')) [ログ]
		if permLevel === 0
			|  
			a(href='accounts.html' class=(selected === 'accounts' ? 'bold' : '')) [アカウント]
			|  
			a(href='news.html' class=(selected === 'news' ? 'bold' : '')) [ニュース]
			|  
			a(href='settings.html' class=(selected === 'settings' ? 'bold' : '')) [設定]

