extends ../layout.pug

block head
	title パスワードを変更する

block content
	h1.board-title パスワードを変更する
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/changepassword' method='POST' data-captcha-preload='true')
			.row
				.label ユーザー名
				input(type='text', name='username', maxlength='50' required)
			.row
				.label 既存のパスワード
				input(type='password', name='password', maxlength='100' required)
			.row
				.label 新しいパスワード
				input(type='password', name='newpassword', maxlength='100' required)
			.row
				.label 新しいパスワードを確認
				input(type='password', name='newpasswordconfirm', maxlength='100' required)
			if captchaType === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='パスワードを変更する')
		p: a(href='/login.html') ログイン
		if enableUserAccountCreation
			p: a(href='/register.html') 登録
